@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: #d7f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.module {
    background-color: white;
    width: 700px;
    height: 500px;
    margin: 20vh 0;
    border-radius: 2%;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    grid-template-areas:
        "header header"
        "sign_up info";
}

.module div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.module > .header {
    grid-area: header;
    min-height: max-content;
}

.text-div {
    padding: 30px;
    color: #fffae3;
    letter-spacing: 0.1rem;
}

.module .sign_up {
    background-color: #659aeb;
    grid-area: sign_up;
    display: flex;
    flex-direction: column;
}

.module .info {
    background-color: #83aff2;
    grid-area: info;
    justify-content: space-between;
}

.module .header > h1 {
    color: #4071bb;
    font-weight: 900;
    font-size: 2.25rem;
    margin: 0;
}

.module .header > h2 {
    color: #e79519;
    font-weight: 500;
    font-size: 1.5rem;
}

.module .header p {
    color: #888888;
    font-weight: 500;
    font-size: 1rem;
}

.sign_up button {
    display: inline-block;
    margin: auto;
    width: 100%;
    height: 30%;
    border-radius: 5%;
    border: hidden;
    font-size: 1.6rem;
    font-weight: 600;
    color: inherit;
    background-color: #e79519;
    box-shadow: 5px 5px 10px grey;
    padding: 0;
}

.sign_up button:hover {
    background-color: #db880c;
}

h2 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
}

.price {
    margin: 0;
    display: flex;
    align-items: center;
}

.price-value {
    font-size: 3rem;
    margin-right: 1rem;
}

.info p {
    margin: 0;
}

.info span {
    display: block;
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.9;
}

@media screen and (max-width: 768px) {
    .module {
        width: 90vw;
        height: 700px;
        margin: 10vh auto;
        grid-template-columns: auto;
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
            "header"
            "sign_up"
            "info";
    }

    .module .header > h1 {
        font-weight: 700;
        font-size: 1.3rem;
    }

    .module .header > h2 {
        font-weight: 400;
        font-size: 1rem;
    }

    .module .header p {
        font-weight: 200;
        font-size: 0.8rem;
    }

    .text-div {
        letter-spacing: 0.05rem;
    }

    .price-value {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.1rem;
        font-weight: 300;
    }

    .sign_up button {
        border-radius: 5%;
        border: hidden;
        font-size: 1.6rem;
        font-weight: 600;
        color: inherit;
        background-color: #e79519;
        box-shadow: 5px 5px 10px grey;
        padding: 0;
    }
}