@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    background-color: #d7f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.module {
    background-color: white;
    width: 600px;
    height: 500px;
    margin: 20vh 0;
    border-radius: 2%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.module > div {
    height: 50%;
}

.module > .header {
    min-height: max-content;
}

.module .bottom {
    display: flex;
    flex-direction: row;
}

.text-div {
    padding: 5%;
}

.module .bottom .sign_up {
    background-color: #659aeb;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.module .bottom .info {
    background-color: #83aff2;
    flex-grow: 1;
}

.module .header > h1 {
    color: #4071bb;
    font-weight: 900;
    font-size: 2.25rem;
    margin: 0;
}

.module .header h2 {
    color: #e79519;
    font-weight: 500;
    font-size: 1.5rem;
}

.module .header p {
    color: #888888;
    font-weight: 500;
    font-size: 1rem;
}

.bottom button {
    display: inline-block;
    margin: auto;
    width: 200px;
    height: 30%;
    border-radius: 5%;
    border: hidden;
    font-size: 1.6rem;
    font-weight: 600;
    color: inherit;
    background-color: #e79519;
    box-shadow: 5px 5px 10px grey;
    padding: 0;
}

.bottom button:hover {
    background-color: #db880c;
}

h2 {
    margin: 0.4rem 0 0 0;
    font-size: 1.5rem;
    font-weight: 400;
}

.sign_up {
    color: #fffae3;
}

.price {
    margin: 0;
}

.price-value {
    font-size: 3rem;
}